<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="color-scheme" content="dark light">
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["pico.orange.min.css"]"/>
    <link rel="stylesheet" href="@Assets["Crunchymatic.Web.styles.css"]" />
    <HeadOutlet/>
</head>

<body>
<Routes/>
</body>

</html>