@inherits LayoutComponentBase

<header class="container">
    <nav>
        <ul>
            <li><strong><NavLink href="/" Match="NavLinkMatch.All">Crunchymatic</NavLink></strong></li>
        </ul>
        <ul>
            <li><NavLink href="/anime" Match="NavLinkMatch.All">Anime</NavLink></li>
        </ul>
    </nav>
</header>

<main class="container">
    @Body
</main>
