@import "tailwindcss"; /* for prototyping */

@theme {
    --font-sans: Verdana, Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-size: 11px;
}

#subtool {
    height: 100%;
    display: flex;
    flex-direction: column;
}